<header>
	<h1><a class="logo" href="{{ .Site.BaseURL }}">
		<img src="{{ .Site.BaseURL }}img/logo.svg" />Linodians
	</a></h1>
	<nav class="main">
		<ul>
			<li><a href="{{ .Site.BaseURL }}"><i class="fa fa-home"></i>Home</a></li>
			<!--<li><a href=""><i class="fa fa-newspaper-o"></i>Blog</a></li>-->
			<li><a href="https://slack.linodians.com"><i class="fa fa-slack"></i>Slack Team</a></li>
			<li><a href="{{ .Site.BaseURL }}contact"><i class="fa fa-envelope"></i>Contact</a></li>
		</ul>
	</nav>
</header>
