<header>
	<h1><a class="logo" href="/">
		<img src="/img/logo.svg" />Linodians
	</a></h1>
	<nav class="main">
		<ul>
			<li><a href="/"><i class="fa fa-home"></i>Home</a></li>
			<!--<li><a href=""><i class="fa fa-newspaper-o"></i>Blog</a></li>-->
			<li><a href="https://slack.linodians.com"><i class="fa fa-slack"></i>Slack Team</a></li>
			<li><a href="/contact"><i class="fa fa-envelope"></i>Contact</a></li>
		</ul>
		<a class="toggle-nav" href="#"><i class="fa fa-bars"></i></a>
	</nav>
</header>
