{{ partial "header" . }}
    {{ $.Scratch.Set "shareNav" true }}
    {{ partial "navbar" . }}
    <!-- Main -->
    <div id="homepage">
		<h2>Welcome to Linodians</h2>
		<h3>The Linode Fan Community</h3>

		<p>We're a brand new fan created online community for hosting company 
		Linode.com. If you're a fan of Linode, or simply enjoy running your own 
		servers, then this community is for you.</p>

		<p>We're not big fans of IRC so #linode just doesn't cut it. Thus, the 
		first thing we're lauching is a public Slack Team to augment #linode. 
		You can sign up for access <a href="https://slack.linodians.com">here</a>.</p>
    </div>
{{ partial "footer" . }}
