body{
	background-color: #F4F4F4;
}
	a:hover{
		color: #3B9154;
	}

header{
	background-color: #FFFFFF;
	border-bottom-color: rgba(160, 160, 160, .3);
}
	header a{
		color: #666666;
	}

	header .logo{
		color: #000000;
	}

.page{
	border: 1px solid #DFDFDF;
	background-color: #FFFFFF;
}


footer{
	color: #666666;
}
